In [76]:
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
<h1> Reading Data </h1>

SyntaxError: invalid syntax (Temp/ipykernel_3560/3628480760.py, line 1)

In [78]:
df=pd.read_csv(r"C:\Users\prasa\Downloads\Corrections\loan.csv")

c:\Users\prasa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (19,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [126]:
#df.info()

In [ ]:
df.head()

In [81]:
"""
 Loan stats
 annual_inc : The self-reported annual income provided by the borrower during registration. 887375 non-null  float64
 emp_length : Employment length in years. Possible values are between 0 and 10 where 0 means less than one year an..842554 non-null  object
 installment: The monthly payment owed by the borrower if the loan originates. 887379 non-null  float64
 int_rate : Interest Rate on the loan  887379 non-null  float64
 loan_amnt : The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value. 887379 non-null  float64
 home_ownership: home_ownership	The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER. 887379 non-null  object 
 term: The number of payments on the loan. Values are in months and can be either 36 or 60.
 grade	: LC assigned loan grade 887379 non-null  object
 annual_inc	The self-reported annual income provided by the borrower during registration.  887375 non-null  float64
 dti : A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income. 887379 non-null  float64
 

 
"""

'\n Loan stats\n annual_inc : The self-reported annual income provided by the borrower during registration. 887375 non-null  float64\n emp_length : Employment length in years. Possible values are between 0 and 10 where 0 means less than one year an..842554 non-null  object\n installment: The monthly payment owed by the borrower if the loan originates. 887379 non-null  float64\n int_rate : Interest Rate on the loan  887379 non-null  float64\n loan_amnt : The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value. 887379 non-null  float64\n home_ownership: home_ownership\tThe home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER. 887379 non-null  object \n term: The number of payments on the loan. Values are in months and can be either 36 or 60.\n grade\t: LC assigned loan grade 887379 non-null  object\n annual_inc\tThe self-reported annual income provided by the borrower during registration.  887375 non-null  float64\n dti : A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income. 887379 non-null  float64\n \n\n \n'

In [82]:
<h1> Initial filtering of Data </h1>

SyntaxError: invalid syntax (Temp/ipykernel_3560/1894068515.py, line 1)

In [98]:
df2=df[['annual_inc','emp_length','installment','int_rate','loan_amnt','home_ownership','term','dti','verification_status','grade','loan_status',]]

In [ ]:
df2.head()

In [ ]:
df2['emp_length'].unique()

In [120]:
def YeartoNum(year):
    if year == "< 1 year":
        return 1
    elif year == "1 year":
        return 2
    elif year == "2 years":
        return 3
    elif year == "3 years":
        return 4
    elif year == "4 years":
        return 5
    elif year == "5 years":
        return 6
    elif year == "6 years":
        return 7
    elif year == "7 years":
        return 8
    elif year == "8 years":
        return 9
    elif year == "9 years":
        return 10
    elif year == "10 years":
        return 11
    elif year == "10+ years":
        return 12
    else:
        return 0

df2['emp_length']=df2['emp_length'].apply(YeartoNum)
df2.head(10)

C:\Users\prasa\AppData\Local\Temp/ipykernel_3560/3769778995.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['emp_length']=df2['emp_length'].apply(YeartoNum)

,annual_inc,emp_length,installment,int_rate,loan_amnt,home_ownership,term,dti,verification_status,grade,loan_status
0,24000.0,0,162.87,10.65,5000.0,None,36 months,27.65,Verified,B,Fully Paid
1,30000.0,0,59.83,15.27,2500.0,None,60 months,1.00,Source Verified,C,Charged Off
2,12252.0,0,84.33,15.96,2400.0,None,36 months,8.72,Not Verified,C,Fully Paid
3,49200.0,0,339.31,13.49,10000.0,None,36 months,20.00,Source Verified,C,Fully Paid
4,80000.0,0,67.79,12.69,3000.0,None,60 months,17.94,Source Verified,B,Current
5,36000.0,0,156.46,7.90,5000.0,None,36 months,11.20,Source Verified,A,Fully Paid
6,47004.0,0,170.08,15.96,7000.0,None,60 months,23.51,Not Verified,C,Current
7,48000.0,0,109.43,18.64,3000.0,None,36 months,5.35,Source Verified,E,Fully Paid
8,40000.0,0,152.39,21.28,5600.0,None,60 months,5.55,Source Verified,F,Charged Off
9,15000.0,0,121.45,12.69,5375.0,None,60 months,18.08,Verified,B,Charged Off

In [87]:
df2['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [122]:
def HometoNum(home):
    if home == 'RENT':
        return 0
    if home == 'OWN':
        return 1
    if home == 'MORTGAGE':
        return 2
    if home == 'OTHER':
        return 3
    if home == 'NONE':
        return 4
    if home == 'ANY':
        return 5

df2['home_ownership']=df2['home_ownership'].apply(HometoNum).astype('float64')
df2.head(10)

C:\Users\prasa\AppData\Local\Temp/ipykernel_3560/1112210517.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['home_ownership']=df2['home_ownership'].apply(HometoNum).astype('float64')

,annual_inc,emp_length,installment,int_rate,loan_amnt,home_ownership,term,dti,verification_status,grade,loan_status
0,24000.0,0,162.87,10.65,5000.0,NaN,36 months,27.65,Verified,B,Fully Paid
1,30000.0,0,59.83,15.27,2500.0,NaN,60 months,1.00,Source Verified,C,Charged Off
2,12252.0,0,84.33,15.96,2400.0,NaN,36 months,8.72,Not Verified,C,Fully Paid
3,49200.0,0,339.31,13.49,10000.0,NaN,36 months,20.00,Source Verified,C,Fully Paid
4,80000.0,0,67.79,12.69,3000.0,NaN,60 months,17.94,Source Verified,B,Current
5,36000.0,0,156.46,7.90,5000.0,NaN,36 months,11.20,Source Verified,A,Fully Paid
6,47004.0,0,170.08,15.96,7000.0,NaN,60 months,23.51,Not Verified,C,Current
7,48000.0,0,109.43,18.64,3000.0,NaN,36 months,5.35,Source Verified,E,Fully Paid
8,40000.0,0,152.39,21.28,5600.0,NaN,60 months,5.55,Source Verified,F,Charged Off
9,15000.0,0,121.45,12.69,5375.0,NaN,60 months,18.08,Verified,B,Charged Off

In [103]:
df2['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [104]:
def LoantoNum(loan):
    if loan in [ 'Charged Off', 'Default','Late (16-30 days)',
       'Late (31-120 days)', 'In Grace Period', 'Does not meet the credit policy. Status:Charged Off']:
         return 0
    elif loan in ['Does not meet the credit policy. Status:Fully Paid','Fully Paid',
        'Issued', 'Current']:
         return 1

In [90]:
df['purpose'].unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [31]:
"""
df['total_bal_il'].unique()
df['max_bal_bc'].unique()
df['tot_coll_amt'].unique()
"""

"\ndf['total_bal_il'].unique()\ndf['max_bal_bc'].unique()\ndf['tot_coll_amt'].unique()\n"

In [105]:
df2['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [106]:
#Interest rate range
print(df2['int_rate'].min())
print(df2['int_rate'].max())
print(df2['int_rate'].max()-df2['int_rate'].min())

5.32
28.99
23.669999999999998

In [107]:
<h1> Usuage functions </h1>

SyntaxError: invalid syntax (Temp/ipykernel_3560/286957142.py, line 1)

In [108]:
df2.isnull().sum()

annual_inc                 4
emp_length             44825
installment                0
int_rate                   0
loan_amnt                  0
home_ownership             0
term                       0
dti                        0
verification_status        0
grade                      0
loan_status                0
dtype: int64

In [110]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   annual_inc           887375 non-null  float64
 1   emp_length           842554 non-null  object
 2   installment          887379 non-null  float64
 3   int_rate             887379 non-null  float64
 4   loan_amnt            887379 non-null  float64
 5   home_ownership       887379 non-null  object
 6   term                 887379 non-null  object
 7   dti                  887379 non-null  float64
 8   verification_status  887379 non-null  object
 9   grade                887379 non-null  object
 10  loan_status          887379 non-null  object
dtypes: float64(5), object(6)
memory usage: 74.5+ MB

In [111]:
<h1> Cleaning NULL values </h1>

SyntaxError: invalid syntax (Temp/ipykernel_3560/955863177.py, line 1)

In [113]:
df2.isnull().sum()

annual_inc                 4
emp_length             44825
installment                0
int_rate                   0
loan_amnt                  0
home_ownership             0
term                       0
dti                        0
verification_status        0
grade                      0
loan_status                0
dtype: int64

In [125]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   annual_inc           887375 non-null  float64
 1   emp_length           887379 non-null  int64
 2   installment          887379 non-null  float64
 3   int_rate             887379 non-null  float64
 4   loan_amnt            887379 non-null  float64
 5   home_ownership       0 non-null       float64
 6   term                 887379 non-null  object
 7   dti                  887379 non-null  float64
 8   verification_status  887379 non-null  object
 9   grade                887379 non-null  object
 10  loan_status          887379 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 74.5+ MB

In [ ]:
import pandas as pd